<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Debug" value="False" />
    <add key="UseProxy" value="False" />
    <add key="ProxyHost" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyDomain" value="" />
    <add key="GatewayHost" value="[INSERT-DOMAIN]" />
    <add key="Version" value="34"/>
    <add key="UseSSL" value="True" />
    <add key="MerchantId" value="[INSERT-MERCHANTID]" />
    <add key="Username" value="merchant.[INSERT-MERCHANTID]"/>
    <add key="Password" value="[INSERT-API-PASSWORD]" />
    <add key="IgnoreSslErrors" value="False" />
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
